.apresentacao{
    text-align: center;
    font-family: monospace;
    width: 100%;
    padding: 20px 0px;
    height: 700px;
    background-color: rgb(8, 8, 8);
    color: white;
}
.img-fundo{
    z-index: 0;
}

.apresentacao h1{
    z-index: 1;
    margin-top: 30px;
}

.cards-skills img{
    width: 100px;
    height: auto;
    border-radius: 50px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    float: left;
    margin: 30px;
}